// Colors
// ---------------------------------

$color-white: #fafafa;
$color-black: #131417;
$color-accent: #eb5757;
$color-arrow: #f2994a;
$color-bg-sub-menu: #252830;

// Typography
// ---------------------------------

$font-family--roboto: "Roboto", "Verdana", sans-serif;

// Viewports
// ---------------------------------

$viewport--768: 768px;
$viewport--767: 767px;
$viewport--375: 375px;
